.calendar {
    display: table;
    width: 960px;
}

.calendar-row {
    display: table-row;
}

.calendar-day {
    display: table-cell;
}

.calendar-day-container {
    width: 120px;
    height: 120px;
    border: 1px solid #333333;
    padding: 2px;
    margin: 1px;
}