html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 16px;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}


#wrapper {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;
}


header {
    width: 100%;
    display: table-row;
}

#header-wrap {
    margin: 0 auto;
    min-width: 640px;
    max-width: 960px;
    height: 90px;
    border-bottom: 1px solid #333333;
}

.sitelogo {
    float: left;
    margin: 0;
    padding: 0 5px;
}

.sitetitle {
    float: left;
    margin: 0 0 0 15px;
    padding: 20px 0;
    font-size: 40px;
}

.siteslogan {
    float: left;
    margin: 0 0 0 120px;
    padding: 0 0 10px 0;
    color: #666;
    font-style: italic;
}


#main {
    display: table-row;
    height: 100%;
    width: 100%;
}

#main-wrap {
    margin: 0 auto;
    min-width: 640px;
    max-width: 960px;
}


footer {
    min-height: 6em;
    width: 100%;
    display: table-row;
}

#footer-wrap {
    border-top: 1px solid #333;
    padding: 10px 0;
    margin: 0 auto;
    min-width: 640px;
    max-width: 960px;
}